html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/*---------------*/
html {
    font-family: "Roboto", sans-serif;
}

body {
    background-color: gray;
    padding: 30px;
    margin: 50px;
}

main, .title {
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    font-size: 40px;
    padding: 20px;
    
}
.container {
    background-color: white;
    border: black 4px solid;
    margin: 10px 5px;
    padding: 30px;
    width: auto;
}
/* header, .js-form, footer, .js-start, .js-results{
    background-color: white;
    border: black 4px solid;
    margin: 10px 5px;
    padding: 30px;
} */
button {
    margin-top:10px;
    height: auto;
    font-size: 15px;
    font-weight: 650;
    text-align: center;
    color:black;
    background: rgb(212, 212, 212);
    border: black solid 2px;
    cursor: pointer;
    margin-bottom: 0;
    border-radius:3px;
    padding: 8px 16px;
    float: right;
  }

.pCorrect{
    color: green;
}

.pIncorrect{
    color: red;
}

footer

/* .main-div {
    background-color: white;
    border: black 4px solid;
    height: 100%;
    padding: 30px;
} */


.title {
    text-align: center;
}